@import url(https://fonts.googleapis.com/css?family=Open+Sans);
 
.navbar{
    background-color: rgb(149, 137, 108);
}

body{
    background-image: url("./assets/music.webp");
}

.area {
    justify-content: center;
    text-align: enter;
    font-size: 3.0em;
    color: rgb(228, 202, 236);
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px rgb(206, 177, 222), 0px 0px 7px #fff;
  }
  
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px rgb(255, 255, 255),
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
  }
  

#albumList{
    line-height: 3em;
    margin: 20px 0 15px 0px;
    padding: 0px 300px 0px 200px; 

}

#albumSetup {
    margin-right: 20%;
    position: relative;
}

p{
    font-weight: 600;
}

li {
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: 600;
    font-style: italic;
} 

li:hover{
    cursor: pointer;
}


.img-container {
    height: 500px;
    width: 700px;
  }

.btn{
    background-color:#3b3b7d;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:5px;
}
  
.comment-container{
    height: 15vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 800px;
    position:fixed ;
    top: 740px;
}

.style-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.comment-header{
    margin: 12px 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: 1000; 
   color: #3b3b7d;
}

.text-area{
    height: 75px;
    width: 400px;
    background-color: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;
}

